apiVersion: networking.k8s.io/v1
kind: Ingress
metadata:
  annotations:
    kubernetes.io/ingress.class: nginx
  name: go-api-ingress
  namespace: go-api
spec:
  rules:
  - host: go-api.vbox-local-cluster.com
    http:
      paths:
      - backend:
          service:
            name: go-api-service
            port:
              number: 8080
        path: /
        pathType: Prefix
